.about {
  background-color: #282828;
  padding: 100px 0;

  .cards {
    display: grid;
    grid-template-columns: 300px 300px 1fr;
    grid-template-rows: 150px 150px 150px;
    grid-template-areas:
      "card-1 card-2 card-4 card-4"
      "card-1 card-2 card-4 card-4"
      "card-1 card-2 card-4 card-4";
    gap: 1.5rem;

    @media (max-width: 1280px) {
      grid-template-rows: 150px 300px 150px;
      grid-template-areas:
        "card-2 card-4 card-4 card-4"
        "card-2 card-4 card-4 card-4"
        "card-1 card-4 card-4 card-4";
    }

    @media (max-width: 1024px) {
      grid-template-columns: 200px 300px 1fr;
      grid-template-rows: 150px 300px 150px;
      grid-template-areas:
        "card-2 card-4 card-4 card-4"
        "card-2 card-4 card-4 card-4"
        "card-1 card-1 card-1 card-1";
    }

    @media (max-width: 767px) {
      grid-template-columns: 40% auto 1fr;
      grid-template-rows: 300px 150px 150px;
      grid-template-areas:
        "card-4 card-4 card-4 card-4"
        "card-4 card-4 card-4 card-4"
        "card-2 card-2 card-1 card-1";
    }

    @media (max-width: 500px) {
      grid-template-columns: auto auto auto auto;
      grid-template-rows: 300px 150px 150px 150px;
      grid-template-areas:
        "card-4 card-4 card-4 card-4"
        "card-4 card-4 card-4 card-4"
        "card-1 card-1 card-1 card-1"
        "card-2 card-2 card-2 card-2";
    }

    .card {
      position: relative;
      border-radius: 30px;
      overflow: hidden;
    }

    .card1 {
      grid-area: card-1;
    }

    .card2 {
      grid-area: card-2;
    }

    .card3 {
      grid-area: card-3;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      text-align: center;
    }

    .card4 {
      grid-area: card-4;
    }
  }
}
